*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
  max-width: 100%;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
body {
 font-family: 'Inter', sans-serif;
 font-weight: 300;
 overflow-y: scroll;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
.bottom-100 {
  margin-bottom: 100px;
}
.bottom-50 {
  margin-bottom: 50px;
}
.top-150 {
  margin-top: 150px;
}